{{page-title "AuthMe"}}


<nav>
  {{#if this.auth.currentUser}}
  <button {{on "click" this.auth.logout}} type="button">Logout</button>
  {{else}}
  <button {{on "click" this.auth.login}} type="button">Login</button>
  {{/if}}
</nav>

AccessToken: {{this.auth.accessToken}}

<p>
Roles: {{this.auth.roles}}
</p>